<html>
    <head>
        <title>Local Login Example</title>
    </head>
    <body>
        <h3>Login</h3>
        <h3>{{.}}</h3>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
        </form>
    </body>
</html>

