<html>
    <head>
        <title>Google Login Example</title>
    </head>
    <body>
        <h3>Click on the Link to Associate your Google ID</h3>
        <h3>{{.}}</h3>
        <br>
        <br>  
        <a href="/auth/google">Login via Google</a>
    </body>
</html>

